@using DentalApp.Models

@model Usuario

<style>
    body {
        background-color: #171a21;
        /* background-image: url('https://images.pexels.com/photos/1809644/pexels-photo-1809644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
            background-size: cover;*/
    }


    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh; /* Esto ajustará el alto del contenedor al 100% del viewport */
        width: 100%;
    }

    /* main {

            width: 60%;
        }*/

    .border {
        border-color: #282c37 !important;
    }


    label {
        color: #c5c7cd;
    }

    .form-control {
        background-color: #282c37;
        color: #c5c7cd;
    }

        .form-control:focus,
        label:focus {
            color: #c5c7cd;
            background-color: #282c37;
            border-color: #282c37;
        }

    .checkbox label input[type="checkbox"] {
        background-color: #282c37;
    }

        .checkbox label input[type="checkbox"]:checked:before {
            color: #282c37;
            background-color: #c5c7cd;
        }

    .btn-primary {
        background-color: #2f8ef7;
        border-color: #2f8ef7;
    }

        .btn-primary:hover {
            background-color: #1c5ca9;
            border-color: #1c5ca9;
        }

    .alert-danger {
        color: #ff3d3d;
    }

    .btn-google-light {
        background-color: #f0f0f0; /* Color de fondo más claro */
        color: #4285f4; /* Color de texto de Google */
        border: 1px solid #4285f4; /* Borde del mismo color que el texto de Google */
    }

    .btn-google-light:hover {
            background-color: #e1e1e1; /* Cambia el color de fondo en el hover */
    }

</style>


<div class="form-container mb-5">
    <form method="post" asp-action="Login" class="p-5 border rounded" asp-controller="Account">
        <h1 class="h3 mb-3 text-center text-light">Inicio de sesión</h1>
        <div class="mb-3">
            <label for="UserName" class="form-label">Usuario o correo</label>
            <input type="text" class="form-control" required asp-for="Username" />
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" required asp-for="Contraseña" />
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" asp-for="keepActive" />
            <label class="form-check-label" for="keepActive">Recordar sesión</label>
        </div>
        <button type="submit" class="btn btn-lg btn-primary w-100 my-3">Ingresar</button>
        <div class="text-danger">@ViewBag.Error</div>

        <a href="#" class="btn btn-lg btn-outline-dark text-light w-100 my-3">
            <i class="fab fa-google me-2"></i> Iniciar sesión con Google
        </a>

        <!-- Botón para registrarse -->
        <a class="btn btn-lg btn-outline-secondary w-100 my-3" asp-controller="Account" asp-action="Register">
            Registrarse
        </a>
    </form>
</div>